form ul {
    list-style-type: none;
}

input, select, textarea {
  width: 100%;
}

label {
  margin-top: 20px;
}

.form__join{
    margin-top: 80px;
    @include screen(small){
        margin-top: 20px;
    };
}

.form-group{
    margin-top:30px;
    margin-bottom:30px;
}

.form-control{
    border-radius: 1px;
    font-weight: 300;
    font-size: 20px;
    height: 50px;
    &:focus{
        box-shadow: none;
    }

    @include screen(small){
        font-size: 18px;
        height: 40px;
    };
}

.form-control.field-error {
  border: 2px solid red;
}

.form-control.datepicker {
    border-radius: 1px;
}
