.header-large {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 40vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    >h1{
        height: auto;
        position: relative;
        text-align: left;
        margin-left: 20px;
    }

    >img {
        width: 100%;
        @include portrait() {
            width: auto;
            height: 60%;
        }
        position: fixed;
    }
}

.header__banner-large{
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.header__banner{
    position: relative;
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: flex-end;
    height: 250px;

    object{
        width: 150px;
    }

    h1{
        font-size: 50px;
    }
}

.header__logo{
    max-width: 20vw;
    max-height: 75px;
    margin-top: 20px;
}

.header__logo-large{
    max-width: 40vw;
    max-height: 60vh;
    @include screen(small) {
        width: 350px;
    }
}

.header__title{
}

.header__heading{
    @include screen(small) {
       font-size: 42px;
   }
}

.header__image-large, .header__image {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
}
