.navbar{
    font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;

    height: 75px;
    margin: 0px;
    border-style: none;

    border-radius:0;
    z-index: 100;
    width: 100%;

    >ul {
        list-style-type: none;
    }
}

.dropdown-menu{
    box-shadow: 0 6px 6px rgba(0,0,0,.175);
    border: none;

    li>a {
        font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
        line-height: 26.4px;
        color: $font-color-inverted;
    }
}

.navbar-default{
    .navbar-nav {
        >li>a{
            color: $font-color-inverted;
            padding-top: 25px;
        }
        > .open > a {
            &,
            &:hover,
            &:focus {
                color: $font-color-inverted;
            }
        }
}}

.navbar-collapse{
    border: 0px none !important;
    box-shadow: none;
}

.navbar-toggle{
    margin-top: 20px;
    border-color: $secondary-color !important;
    border-width: 2px;
}

.icon-bar{
    background-color: $secondary-color !important;
}

.navbar-right{
    padding-bottom: 10px;
}

.navbar-default{
    border: 0px none !important;
}

.header-large + .navbar {
  margin-top: -75px;
}
