.groups__container{
    margin-top: 75px;
    @include screen(small) {
        margin-top: 25px;
    }
}

.groups__section{
    min-height: 100px;
    display: flex;
    padding: 10px;
    @include screen(small) {
        flex-direction: column;
    }

    @include screen(med) {
        flex-direction: column;
    }
}

.groups__section-icon{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 100px;
        height: 100px;
        margin-right:10px;
    }

    h3{
        color: $font-color-inverted;
        font-size: 30px;
    }

    p {
        color: $font-color-inverted;
        font-size: 16px;
    }

    @include screen(small) {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;

        img{
            width: 40px;
            height: 40px;
        }

        h3{
            font-size: 24px;
            margin: 0px;
        }
    }

    @include screen(med) {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;

        img{
            width: 60px;
            height: 60px;
        }

        h3{
            margin: 0px;
        }
    }

}

.groups__entry{
    display: flex;
    justify-content: space-around;
}

.groups__section-entries{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.groupdetail__body {
    padding: 30px;
}

.contact{
    width: auto;
    display: flex;
    align-items: center;
    margin: 1em;
    @include screen(small) {
        flex-direction: column;
    }
}

.contact__text {
    width: 100%;

    h3 {
        margin-top: 0;
    }
}

.contact .contact__image {
  float: right;
  width: 6em;
  height: 6em;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .contact {
        flex-direction: column;
    }
}

.group__detail-banner{
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    >h2{
        font-size: 60px;
        color: $font-color-inverted !important;
        align-self: flex-end;
        margin: 10px;
        margin-bottom: 20px;
        @include screen(small) {
            font-size: 40px;
        }
    }


    >div{

        align-self: center;
        >object {
            width: 80px;
            height: 80px;

            @include screen(small) {
                width: 60px;
                height: 60px;
            }
        }
    }
}

.group__info-box {
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    text-align: left;
}

.group__pictures {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.group__picture {
    display: block;
    width: 49%;
    height: 20%;
    max-height: 20%;
}
