//@import '../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';

@import 'colors';
@import 'dimension';
@import 'font';

@import 'agenda';
@import 'button';
@import 'content';
@import 'footer';
@import 'forms';
@import 'header';
@import 'layout';
@import 'lightbox';
@import 'navbar';
@import 'shapes';
@import 'wwd';
@import 'wwa';
@import 'effects';

.window {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 100.0;
}
